@using System.Threading
@using Wadar.App.Features.Map

<div class="page">
    <div class="main">
        <div class="content px-4">

            <Radar Zip="@Zip"/>

            <input type="text" @bind="Zip"/>
        </div>
    </div>
</div>

@code {
    private string Zip {get; set;} = "55060";
}
