@using System.Threading

<div id="map" class="map"></div>

@code {
    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    [Parameter]
    public string Longitude { get; set; }

    [Parameter]
    public string Latitude { get; set; }

    [Parameter]
    public int Zoom {get; set;}

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            JsRuntime.InvokeVoidAsync("initializeMap", CancellationToken.None, "map", Longitude, Latitude, Zoom);
    }
}